<%- include("partials/header") %> 
<div class="container">
    <div class="jumbotron mt-4">
        <div class="container">
            <h1><i class="fas fa-campground"></i>Welcome To YelpCamp!</h1>
            <p>These are one of the beautiful places in the World where you can visit</p>
            <div>
                <a href="/capground/new" class="btn btn-primary btn-lg py-1">Add New Campground</a>
            </div>
        </div>
    </div>
    <div class="row " style="display: flex; flex-wrap: wrap; text-align: center;">
        <div class="col-md-6 col-lg-12">
            <% if(nomatch!==null){ %>
                <h3><%= nomatch %> </h3>
                <p>
                    <form action="/capground" method="GET" class="form-inline">
                        <div class="form-group">
                            <input class="form-control" type="text" name="search" placeholder="Campground Search...">
                            <input type="submit" value="Search" class="btn btn-default">
                        </div>
                    </form>
                </p>
            <% } %>      
        </div>
        <% a.forEach(function(eve){%>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="img-thumbnail" style="margin-bottom: 12px; padding: 0px;">
                    <img style="width: 100%;" src="<%=eve.image%>" alt="sorry">  
                    <div style="padding: 12px;">
                        <div class="caption">
                            <h4><%= eve.tittle%></h4>
                        </div>
                        <p  style="display: inline-block;">
                            <a href="/capground/<%= eve._id%>" class="btn btn-info">More info</a>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %> 
    </div>
</div>
<%- include("partials/footer") %> 